.manu-bar{
   background: greenyellow;
   text-align: center;
   margin:0;
   padding: 0;
}

.manu-bar ul{
   list-style: none;
    color:gray;
}

.manu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

nav >ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 20px;
}
 nav li:hover{
     background-color: darkgray;
 }
nav li a{
    text-decoration: none;
    color: black;
    
}

nav >ul >li:hover >ul{
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
}

.list-bar{
    display: none;
    position: absolute; 
    padding: 0;
}

