.manu-bar{
   background: greenyellow;
   text-align: center;
   margin:0;
   padding: 0;
}

.manu-bar ul{
   list-style: none;
    color: #fffff;
}

.manu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

nav >ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 20px;
}
 nav li:hover{
     background-color: darkgray;
 }
nav li a{
    text-decoration: none;
    color: black;
    
}

nav >ul >li:hover >ul{
    display: block;
}

.list-bar{
    display: none;
   position: absolute; 
    background-color: rgb(111, 192, 212);
    padding: 0;
}

